.loginBox {
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    background-color: rgba(173, 216, 230, 0.5);
    border-radius: 15px;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

.index-body{
    background-color: darkslategray;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 12%;
}

.welcome-body{
    background-color: darkslateblue;
    align-items: center;
    padding-left: 30%;
    padding-top: 20%;
}

.email-box{
    padding-top: 5%;
    
}

.pwd-box{
    padding-bottom: 5%;
}

.input-box{
    border: 2px solid #000;
    border-radius : 10px;

}

.signin-btn{
    border: 2px solid #000;
}